# pnpm
.pnpm-store/
.pnp.*
node_modules/

# TypeScript
*.tsbuildinfo

# IDE 설정
# .vscode/
# .turbo/

# 환경변수/환경세팅
.env
.env.*

# Playwright 테스트 시 생성된 테스트 결과
test-results/
playwright-report/
blob-report/
playwright/.cache/

# coverage, logs
coverage/
logs/
*.log

# build output
dist/
out/

# Mac 시스템 파일
.DS_Store
